
h3 > a,
h3 > a:visited,
h3 > a:hover,
h3 > a:active { color: #000000; text-decoration: none; }

#main-content h1 {text-align: center;}

#main-content h3 { text-align: center; }

.menu-content-wrapper { background: #ccc; }

.menu-section { border: 1px dotted #ccc; }
.menu-section p {  }

