
<div id="myinfo" class="restaurantContent">
	<div ng-if="myInfoCtrl.hasValidMenuItem">
		<!-- Account info -->
		<div id="accountInfo">
			<h3>Account Info</h3>
			<p>First name: {{myInfoCtrl.registration.account.firstName}}</p>
			<p>Last name: {{myInfoCtrl.registration.account.lastName}}</p>
			<p>Email address: {{myInfoCtrl.registration.account.emailAddress}}</p>
			<p>Phone number: {{myInfoCtrl.registration.account.phoneNumber}}</p>
		</div>
		<!-- Favorite menu item -->
		<div id="favoriteMenuItem">
			<h3>Favorite Menu Item</h3>
			<img ng-src="images/menu/{{myInfoCtrl.menuCategoryShortName}}/{{myInfoCtrl.menuCategoryShortName}}.jpg">
			<p>Img debug: images/menu/{{myInfoCtrl.menuItem.short_name}}/{{myInfoCtrl.menuCategoryShortName}}.jpg</p>
			<p>Short Name: {{myInfoCtrl.menuItem.short_name}}</p>
			<p>Title: {{myInfoCtrl.menuItem.name}}</p>
			<p>Description: {{myInfoCtrl.menuItem.description}}</p>
		</div>
	</div>

	<div ng-if="!myInfoCtrl.hasValidMenuItem">
		<p>Not Signed Up Yet.<a ui-sref="public.signup"> Sign up Now!</a></p>
	</div>
</div>
