.emptyMessage {
  font-weight: bold;
  color: red;
  font-size: 1.2em;
}

li {
  margin-bottom: 7px;
  font-size: 1.2em;
}

li > button {
  margin-left: 6px;
}

button > span {
  color: green;
}

.toBuyItem { }

#toBuyList { }

#alreadyBoughtList { }

#itemAdding { 
	margin-left: 1em; 
	margin-bottom: 1em; 
	border: 1px solid #cccccc; 
	padding: .5em;
	width: 30em; }
#itemAdding input {padding: .25em;}
#itemAdding input[type="text"] { width: 20em; }
#itemAdding input[type="number"] { width: 3em; }